body{
    display: flex;
    flex-direction: row;
    height: 95dvh;
    margin: 0;
}


& .menu_lateral {
    background-color: #32a852;
    width: 35vh;

    display: flex;
    flex-direction: column;
    
    & a {
    color: rgb(252, 250, 250);
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    }

& a:hover {
    background-color: darkgray;
    }
}