
body{
    margin: 0px;
}

.menu-superior {
    background-color: gray;
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
& a{
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
    border-bottom-style: solid;
    border-color: transparent;
    text-align: center;
    transition: 0.5s;
    width: 100%;
}

& a:hover{
    color: yellow;
    border-bottom-style: solid;
    border-color: yellow;
    transition: 0.5s;
}
}