body{
    background-color: #f5f6fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    max-width: 1300px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 80px;
    color: whitesmoke;
}

& .encabezado{
    background-color: #2a5298;
    display: flex;
    gap: 40px;
    padding: 40 px;
    border-radius: 20px;
}

& .perfilpersonal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

& #fotopersonal{
    border-radius: 50px;
    width: 200px;
    object-fit: cover;
}

/* Se colocan los tres bloques principales con distancias con respecto al siguiente y al extremo izquierdo  */
.formacionprofesional,
.formacionacademica,
.formacioncomplementaria {
    position: relative;
    padding-left: 40px;
    margin-bottom: 40px;
}

/* Para poner el logo en la esfera de cada puesto y ajustarlo a una posición concreta */
.esfera1,
.esfera2,
.esfera3,
.esfera4,
.esfera5,
.esfera6,
.esfera7,
.esfera8,
.esfera9,
.esfera10 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff; 
    border: 3px solid #2a5298;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* no se encoge */
    overflow: hidden; /* para que la img no salga del círculo */
    margin-right: 20px; /* separación con el texto */
}

/* Para ajustar el tamaño del logo dentro de la esfera */
.esfera1 img,
.esfera2 img,
.esfera3 img,
.esfera4 img,
.esfera5 img,
.esfera6 img,
.esfera7 img,
.esfera8 img,
.esfera9 img,
.esfera10 img { 
    width: 80%;
    height: auto;
}

/* Para colocar el contenido al lado de cada una de las esferas */
.acciona, 
.sinergia,
.cram,
.esri,
.umu,
.ucm,
.uam,
.orientacion,
.cigarral,
.seo {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left: 0;
}

/* Para añadir la timeline entre un evento y otro */
.acciona::before, 
.sinergia::before,
.esri::before,
.umu::before,
.ucm::before,
.orientacion::before,
.cigarral::before {
    content: "";
    position: absolute;
    left: 35px;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #2a5298;
    z-index: -1;
}
