body {
    background-color: lightblue;
    color: brown;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;

    & h1,h2 {
        font-size: 14px;
    }
}